/*default settings for body*/
body{
  margin: 0vmin;
  padding: 0vmin;
  background-image: url("../image/bg_2208A.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 230vmin;
  font-family: Microsoft JhengHei;
  color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


/*for bg white frame*/
.bg_frame{
  position: fixed;
  top: 3vh;
  left: 3vw;
  height: 94vh;
  width: 94vw;
  border: 0.25vmin rgb(255, 255, 255) solid;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


/*for login page, banner text: system name*/
.login_banner_title{
  position: fixed;
  top: 20vh;
  left: 46.1vw;
  height: 15vh;
  width: 30vw;
  font-size: 2.9vw;
  font-weight: bolder;
  text-align: left;
  display: flex;
  align-items: top; 
}


/*for login page, banner image*/
#login_logo_suros{
  position:fixed;
  top: 18vh;
  left :32.5vw;
  height: auto;
  width: 14.6vw;
}


.login_block{
  position:fixed;
  top: 36vh;
  left: 37.5vw;
  height: 33vh;
  width: 22.5vw;
  padding: 2.8vmin;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 0.8vmin;
  border-top: 1.8vh solid #ff2525;
  box-shadow: 0vmin 0vmin 7vmin rgb(255, 255, 255, 0.3);
}

#username, #password, h3{
  height: 3.8vh;
  width: 21.7vw;
  color: #ff2525;
}

h3{
  margin-top: 0.8vmin;
  margin-bottom: 4.5vmin;
  font-size: 1.8vw;
}


input{
  padding: 0.65vmin;
  border: none; 
  border:solid 0.27vmin #ccc;
  border-radius: 0.8vmin;
}


.login_submit{
  height: 5vh;
  width: 22.5vw;
  margin: 2vmin 0vmin 1vmin 0vmin;
  color: white;  
  background: #7b7b7b;
  border-radius: 0.8vmin;
  border: 0vmin;
  font-family: Microsoft JhengHei;
}

.login_submit:hover{
  background: #ff2525;
  font-weight: bolder;
}


.login_line_space{
  margin: 2vh;
}

/*for login page, footer*/
#login_copyright{
  position: fixed;
  bottom: 7vh;
  font-size: 2.2vmin;
  text-align: center;
}
